/* Font imports */
@import '@fontsource/oswald/index.css';

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  @apply font-oswald;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
